<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F-A-C-E</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>F-A-C-E</h1>
        <input type="file" name="imageInput" id="imageInput" accept="image/*">
        <div class="image-container">
            <div>
                <h3>Input Image</h3>
                <img src="" alt="Input Image" id="inputImage">
            </div>
            <div>
                <h3>Output Image</h3>
                <img src="" alt="Output Image" id="outputImage">
            </div>
        </div>
        <button id="processButton" disabled>Process Image</button>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>